.background    { background: rgb(0, 0, 0);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }
.floater       { background: yellow;  }
.trampoline    { background: blue;    }

.game {
  position: relative;
}
